<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">{% csrf_token %}
    <label>Employeename</label>
    <input type="text" name="name"><br><br>
    <label>Salary</label>
    <input type="number" name="salary"><br><br>
    <label>Email</label>
    <input type="email" name="email"><br><br>
    <label>Companyname</label>
    <input type="text" name="cname"><br><br>
    <label>Designation</label>
    <input type="text" name="dname"><br><br>
    <input type="Submit">
</form>
</body>
</html>